@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Monda';
    box-sizing: border-box;

}
::-webkit-scrollbar {
    width: 0;

}
body{
    background-color: white;
    color: black;
}
header{
    padding: 30px;
    background-color: rgb(42, 42, 155);
    text-align: center;
    color: beige;
}
h1{
    margin: 0;
    font-size: 30px;
    text-decoration: underline;
}
.form-groupe{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 15px 20px;
    border-bottom: 2px solid #f5f5f5;
    border-bottom: 2px solid #ddd;
}
.form-groupe input,
.form-groupe select,
.form-groupe button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 6px;
}
.form-groupe button{
    background-color: rgb(28, 28, 163);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3S;
}
.form-groupe button:hover {
    background-color: rgb(132, 132, 243);
}
button:disabled{
    opacity: 0.5;
    pointer-events: none;
}
.form-groupe input,
.form-groupe select {
    flex: 1;
    min-width: 120px;
}
.form-groupe button{
    flex: 0 0 auto;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table th,
table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}
table th {
    background-color: #f5f5f5;
}
.empty-table-message{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #888;
    padding: 20px;
}
.action button{
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3S;
}
.edit-btn{
    background-color: #007bff;
    color: white;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;

}
.edit-btn:hover{
    background-color: #007bff;
}
.delete-btn{
    background-color: red;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 12px;
    cursor: pointer;
    font-size: 16px;
}
.delete-btn:hover{
    background-color: red;
}
.filter-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px;
}
.total{
    font-size: 16px;
    font-weight: bold;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@media (max-width: 768px){
    .form-groupe {
        flex-direction: column;
        align-items: stretch;
    }
    .form-groupe input,
    .form-groupe select,
    .form-groupe button{
        width: 100%;
        margin-bottom: 10px;
    }
    table{
       font-size: 14px;
    }
    .filter-groupe {
     flex-direction: column;
     align-items: flex-start;
    }
    .form-groupe select,
    .total{
        width: 100%;
    }
    td button {
        width: 100%;
        margin-bottom: 5px;
        font-size: 14px;
        padding: 12px 15px;
    }
}
